<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="favicon.png" />
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
